@{
    ViewData["Title"] = "Home Page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/images/2397d674a1965f83f5530b3c9813c7ca.jpg" class="img-responsive"/>
            <div class="carousel-caption" role="option">
                <p>Learn how to get to DellCity</p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/city-wallpaper-47.jpg"  class="img-responsive"/>
            <div class="carousel-caption" role="option">
                <p>DellCity is wonderful</p>
            </div>
        </div>
        <div class="item">

            <img src="~/images/kTc1tSm.jpg"  class="img-responsive"/>
            <div class="carousel-caption" role="option">
                <p>Best tourist attraction - DellCity</p>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div>
    <br />    <br />
    <br />    <br />
              <h4>
                  
                      <a href="/wiki/Stamford_Raffles" title="Stamford Raffles">Raffles</a> arrived in Singapore on 28 January 1819 and 
                  soon recognised the island as a natural choice for the new port.  The island was then nominally ruled by the
                  <a href="/wiki/Sultan_of_Johor" title="Sultan of Johor">Sultan of Johor</a>, who was controlled by the Dutch and the
                  <a href="/wiki/Bugis" title="Bugis">Bugis</a>. However, the <a href="/wiki/Sultanate" class="mw-redirect" title="Sultanate">Sultanate</a>
                  was weakened by factional division and Tengku Abdu'r Rahman and his officials were loyal to Tengku Rahman's elder brother 
                  <a href="/wiki/Hussein_Shah_of_Johor" title="Hussein Shah of Johor">Tengku Long</a> who was living in <a href="/wiki/Exile" title="Exile">exile
                                 </a> in <a href="/wiki/Riau_Islands" title="Riau Islands">Riau</a>. With the Temenggong's help, Raffles managed to smuggle Tengku Long back into Singapore. He offered to recognise Tengku Long as the rightful Sultan of Johor, given the title of Sultan Hussein and provide him with a yearly payment of $5000 and $3000 to the Temenggong; in return, Sultan Hussein would grant the British the right to establish a trading post on Singapore.<sup id="cite_ref-uslcFounding_61-0" class="reference"><a href="#cite_note-uslcFounding-61">[60]</a></sup> A formal treaty was signed on 6 February 1819 and modern Singapore was born.<sup id="cite_ref-62" class="reference"><a href="#cite_note-62">[61]</a></sup><sup id="cite_ref-63" class="reference"><a href="#cite_note-63">[62]</a></sup>
                  

              </h4>
</div>